{%extends 'layout/base.twig'%}
{%block content%}
    <table class="table table-bordered">
        <tr class="success">
            <td>#</td>
            {% for player in players %}
                <td>{{player.name}}</td>
            {%endfor%}
        </tr>
        {% for data in array %}
        <tr>
            <td>{{data.bids}} de {{data.score}}</td>
            {% for player in data['players'] %}
                <td class="{{player.type}}">{{player.score}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
        <tr class="info">
            <td>Total</td>
            {% for player in players %}
                <td>{{player.score}}</td>
            {%endfor%}
        </tr>
    </table>
    <a class="btn" href="game/new/{{id_tournament}}">Nouvelle partie</a>
    <a class="btn" href="">Partie terminé</a>
{%endblock%}